.search { 
    border: none; 
    width: 300px; 
    padding: 40px; 
    position: absolute; 
    top: 15%; 
    left: 87%;
    transform: translate(-50%, -50%);  
   
}

.but { 
    border: none;  
    position: absolute; 
    top: 15%; 
    left: 97%;
    transform: translate(-50%, -50%);  
   
}
